@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

body {
	margin: 0;
	overflow-y: scroll;
	height: 100vh;
	scroll-snap-type: y mandatory;
}

#wrapper {
	color: white;
	font-family: "Roboto Mono", monospace;
}

.slide {
	height: 100vh;
	scroll-snap-align: start;
	display: flex;
	justify-content: center;
	align-items: center;
}

.slide:nth-child(1) {
	background: black;
	font-size: 4rem;
}
