body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

#background img {
	border: none;
	padding: 0;
	margin: 0;
	width: 100%;
}

#background {
	background: black;
}

#foreground {
	background: black;
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	color: white;
	mix-blend-mode: multiply;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18rem;
	font-weight: 800;
}
